DATABASE_URL="postgresql://user:password@host/database?sslmode=require"
JWT_SECRET="secure-jwt-key"
NEXT_PUBLIC_APP_NAME="Sistema Informasaun Jestaun Eskola Sekundaria Bazeia ba PWA"
NEXT_PUBLIC_SCHOOL_NAME="Escola Secundaria Catolica Nossa Senhora de Fatima Railaco"
NEXT_PUBLIC_SCHOOL_SHORT_NAME="NOSSEF Railaco"
NEXT_PUBLIC_SCHOOL_LOCATION="Railaco Vila, Posto Administrativo Railaco, Munisípiu Ermera, Timor-Leste"
NEXT_PUBLIC_CURRENCY="USD"
NEXT_PUBLIC_TIMEZONE="Asia/Dili"
